.item {
  list-style: none;
  margin: 1rem 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #f7f5ef;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  align-items: center;

  position: relative;
}

.item input {
  display: block;
  width: 60%;
  font: inherit;
  border-radius: 4px;
  background-color: #f7f5ef;
  border: none;
  border-bottom: 2px solid #494844;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 0.5rem;
}


.item button {
  font: inherit;
  background-color: #ebb002;
  border: 1px solid #ebb002;
  color: #201d0f;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.item button:hover,
.item button:active {
  background-color: #ebc002;
  border-color: #ebc002;
}

.text {
  font-size: 20px;
}

.text_done {
  font-size: 20px;
  text-decoration: line-through;
}

.options {
  display: flex;
  column-gap: 5px;
}

.options2 {
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
  overflow: auto;
}

.fs_20 {
  font-size: 20px;
}

.fs_20 i {
  cursor: pointer;
}

.error_message {
  color: red;
  position: absolute;
  top: 45px;
}

.trash {
  color: #b38505;
}

.edit {
  color: #bf5307;
}

.editForm {
  display: flex;
  width: 100%;
  justify-content: space-between;
}